*{
 font-family: 'Times New Roman';
 background-color: rgb(227, 211, 211);
 font-size: x-large;
 
 
}
h1{
    font-size: 80px;
    color: rgb(134, 77, 214);
    margin-left: 250px;
}

div{
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
    
}
button{
    background-color: rgb(145, 101, 206);
    color: aliceblue;
    font-size: 30px;
    box-sizing:border-box;
}
label{
    display:flex;
    margin: 0px;
    margin-left: 350px;
    height: fit-content;
    width: fit-content;
    background-color: aliceblue;
    font-size: x-large;

}
